body {
    background-color: #f0f0f0;
    padding: 0 50px;
}

.header {
    background: #2f2f2f linear-gradient(to bottom, #2f2f2f, #000);
    color: #545454;
    font: bold italic 16px Arial;
    padding: 20px 20px 20px 100px;
    position: relative;
}

#giga {
    color: #b0b0b0;
    font: bold 40px Arial;
}

#space {
    color: #ffbb4b;
    font: bold 40px Arial;
}

.menu table {
    background: #fd9b00 linear-gradient(to bottom, #f8bb49, #f7941d);
}

.menu td {
    text-align: center;
    padding: 10px;
    font: bold 16px Arial;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu td:hover {
    background: #2f2f2f linear-gradient(to bottom, #2f2f2f, #000);
    border-radius: 10px;
}

.menu td:hover a {
    color: orange;
}

.login {
    position: absolute;
    right: 10px;
    top: 10px;
}

.login * {
    margin: 3px;
}

.login a {
    font: italic 12px Arial;
    color: #545454;
}

.login a:hover {
    color: #ffbb4b;
}

.main {
    position: relative;
    margin-top: 5px;
    padding: 10px;
    background-color: white;
}

.search {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #f0f0f0;
    border: 1px solid black;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    width: 30%;
    height: 200px;
    margin-right: 5px;
}

.search select {
    padding: 10px;
    width: 90%;
    margin: 10px;
}

.search h1 {
    margin: 0;
    padding: 5px 5px 5px 50px;
    background: #333333 linear-gradient(to bottom, #3f4246, #000);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    color: #fd9b00;
    font: bold 20px Arial;
}

.search img {
    position: absolute;
    top: 0;
    left: 10px;
}

.search button {
    margin: auto auto 10px 10px;
    padding: 10px;
    border: 3px solid #d88119;
    background-image: linear-gradient(to top, #d88119, #f7941d);
    color: #fff;
    font: bold 14px Arial;
}

.search span {
    color: #b3b3b3;
    padding-left: 10px;
}

.categories {
    position: absolute;
    left: 10px;
    top: 210px;
    width: 30%;
}

.categories p {
    font: bold 16px Arial;
    border: 1px solid grey;
    background-color: #efefef;
    border-radius: 7px;
    text-align: center;
    padding: 5px;
}

.categories ul {
    list-style-type: none;
    padding-left: 0;
    font: 16px Arial;
}

.categories li > a {
    text-decoration: none;
    border-bottom: 1px dashed black;
    display: block;
    text-align: center;
    color: black;
    font: 14px Arial;
    margin: 15px;
}

.categories li > a:hover {
    font-style: italic;
}

.offer {
    position: relative;
    left:33%;
    margin-right: 33%;

}
.offer h1 {
    background-color: #f7941d;
    background: #fd9b00 linear-gradient(to bottom, #f8bb49, #f7941d);
    border: 1px solid #d88119;
    color:white;
    font: bold 24px Arial;
    margin:0 0 3px 0;
    padding-left: 3px;
}
.offer img {
    height: 200px;
    margin: 0 auto;
    display: block;
}
.offer .descr {
    background-color: #f7941d;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    font: bold 11px Arial;
    color: #a16013;
    padding: 5px;
}
.offer .price {
    margin: auto 10px auto auto;
    color: white;
    float: right;
    font-weight: bold;
    font-size: 18px;
}
.comment h1 {
    text-decoration: underline;
    font-size:16px;
}
fieldset {
    width:40%;
}
.reg {
    margin: 3px 25%;
    width:100%;
}
.bottom {
    border-top: 3px solid #cccccc;
    font: bold 11px Arial;
    color: #8d8d8d;
}
.logged {
    position: absolute;
    right: 10px;
    top: 10px;
    font: bold 14px Arial;
    color:#f7941d;
    text-align: right;
}