body {
    background-color: black;
    color: white;
}

h1 {
    text-decoration: underline;
    font: 24px monospace;
    color: #f7941d;
}

.auth {
    margin: 3px auto;
    width: 33%;
    text-align: center;
}
.add_title{
    width:35%;
}
.add_title fieldset{
    border:1px dashed white;
}
form * {
    padding: 3px;
}

table {
    border-collapse: collapse;
}

td {
    font: 11px Arial;
    border: 1px solid white;
    padding: 2px;
}
thead td{
    font-weight:bold;
    text-align: center;
}